div.footer {
    background-color: #555;
    width: 100%;
    bottom: 0em;
    position: fixed;
}
div.footer footer {
    margin-left: 1em;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
    color: black;
}

.usernameCheck {
    font-size: 1.3em;
    margin-top: 0.45em;
}

.usernameGood {
    color: green;
    display: none;
    vertical-align: middle;
}

.usernameBad {
    color: red;
    display: none;
    vertical-align: middle;
}

.passwordGood {
    color: green;
    display: none;
    vertical-align: middle;
}

.passwordBad {
    color: red;
    display: none;
    vertical-align: middle;
}

.loginSubmit {

}

.highscores, .table, .row {
    /*text-align: center;*/
}

.highscores1 {
    margin-top: 45em;
}

.highscores1, .highscores2 {
    /*width: 40em;*/
    /*text-align: center;*/
}

#highscores2 {

}