.jumbotron {
    margin-top: 3em;
    height: 50em;
    width: 70em;
    position: relative;
}
#jsgame {
    background-color: #113;
    position: relative;
    width:100%;
    height:100%;
}
#slider {
    background-color: #118;
    width: 20em;
    height: 2em;
    position: relative;
    left: 20.6em;
    bottom: -38em;
    border-radius: 1em;
    /*margin-top:10em;*/
    /*margin-left:5em;*/
}
#ready, #go {
    color:yellow;
    width: 100%;
    font-size: 8em;
    text-align: center;
    position: absolute;
}
#go {
    visibility: hidden;
}